/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .mwb-wocuf_pro-no-offer{
  width:60%;
  margin: 20px auto;
  text-align: center;
}
.mwb_wocuf_pro_offer_container{
  padding:50px 150px;
  background: white;
}
.mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_special_offer_banner {
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
}
.mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_main_wrapper .mwb_wocuf_pro_product_image img {
  width: 40%;
  margin: 0 auto;
}
.mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_main_wrapper::after {
  clear: both;
  content: "";
  display: block;
  position: absolute;
}
.mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_main_wrapper{
  overflow: hidden;
}
.mwb_wocuf_pro_offered_product_description {
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}
.mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_main_wrapper .mwb_wocuf_pro_product_title {
  text-align: center;
  width:50%;
  margin: 20px auto;
  font-size: 20px;
}
.mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_product_price > h4 ,.mwb_wocuf_pro_variable_price_html.display{
  box-shadow: 0 2px 5px rgba(0,0,0, 0.25);
  display: inline-block;
  padding: 10px 40px;
}
.mwb_wocuf_pro_variations .mwb_wocuf_offer_variation_select {
  height: 36px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #bababa;
  font-size: 15px;
  background: #fff;
}
.mwb_wocuf_pro_variations {
  width:50%;
  margin: 0 auto;
}
.mwb_wocuf_pro_variations .mwb_wocuf_offer_variation_select option {
  padding: 10px;
}
.mwb_wocuf_pro_variations .variations .label label{
  margin-right: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.mwb_wocuf_pro_special_offers_for_you .woocommerce-Price-amount.amount {
  font-weight: bold;
}
.mwb_wocuf_pro_variable_price_html del .woocommerce-Price-amount.amount {
  font-weight: 500;
}
.mwb_wocuf_pro_variations tr td {
 border: none;
}
.mwb_wocuf_pro_product_price h4 {
  background-color: #f2f5f7;
  color: #000;
  border: solid 2px #cecece;
  border-style: dashed;
  font-size: 27px;
  text-align: center;
}
.mwb_wocuf_pro_product_price h4 del {
  color: #000;
  padding-left: 10px;
}
.mwb_wocuf_pro_product_price h4 ins {
  background-color: #fff;
  color: #000;
}
.mwb_wocuf_pro_offered_product_actions {
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 15px 0px;
}
.mwb_wocuf_pro_offered_product_actions button.mwb_wocuf_pro_buy{
 padding: 15px 25px !important;
 color: #fff !important;
 font-size: 25px !important;
 border: 0px;
 font-weight: bold;
 margin-right: 10px;
 cursor: pointer !important;
 border-radius: 10px;
}
.mwb_wocuf_pro_offered_product_actions a.mwb_wocuf_pro_skip{
  padding: 5px 20px;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
  position: initial;
  text-align: right;
  border: solid 1px;
  border-radius: 20px;
  top: -5px;
}
.mwb_wocuf_pro_variations table {
  margin: 0 auto;
}
.mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_product_price {
  margin: 0 auto;
  text-align: center;
}
.mwb_wocuf_pro_display{
  display: block;
  padding: 15px;
}
.mwb_wocuf_pro_hide{
  display: none;
}
.mwb_wocuf_pro_demotext {
 color: #000;
 font-size: 18px;
 margin-bottom: 10px;
 margin-top: 10px;
 text-align: center;
}
#mwb_wocuf_pro_offer_loader {
 background-color: rgba(255, 255, 255, 0.6);
 bottom: 0;
 height: 100%;
 left: 0;
 position: fixed;
 right: 0;
 top: 0;
 width: 100%;
 z-index: 99999;
}
#mwb_wocuf_pro_offer_loader img {
 display: block;
 left: 0;
 margin: 0 auto;
 position: absolute;
 right: 0;
 top: 40%;
}

.woocommerce-info.mwb-wocuf-stripe-test-mode {
  margin-top: -14px;
  margin-bottom: 15px;
}

#mwb-wocuf-stripe-test-mode-notice {
  font-weight: bold;
}

.payment_method_mwb_upsell_authorize-dot-net img {

  width: 90px;
}

/*Fixing default offer page css*/
.mwb_wocuf_pro_product_image {
  text-align: center;
}
.mwb_wocuf_pro_offered_product_actions {
  margin-top: 30px;
}

.mwb_wocuf_pro_skip.mwb_wocuf_pro_no {
  margin-top: 20px;
}

/**
 * V3.0.0 CSS STARTS HERE ------------>>>>>>>>>>>>>>>>>>>
 * 
 */

 /*since v3.0.0 - OFFER Price - Start*/

 .mwb_upsell_offer_product_price {
  display: inline-block;
}

.mwb_upsell_offer_product_price del {
  font-size: 85%;
}

.mwb_upsell_offer_product_price ins {
  text-decoration: none;
}

/*since v3.0.0 - OFFER Price - End*/


/*since v3.0.0 - OFFER Variations - Start*/

.mwb_upsell_offer_product_variations table{
 width: 100%;
}

.mwb_upsell_offer_product_variations table td, table th {
 padding: 1em 1.41575em;
 vertical-align: middle;
}

.mwb_upsell_offer_product_variations .mwb_upsell_offer_variation_select {
  width: 160px;
  background-color: #fff;
  height: 30px;
  border-radius: 4px;
  border: 0;
  padding: 0px 7px;
  border: solid 1px #ccc;
  font-size: inherit;
  font-family: inherit;
}

.mwb_upsell_offer_product_variations table tbody td,
.mwb_upsell_offer_product_variations table tbody th {
  background-color: transparent !important; 
  text-align: center;
}

.mwb_upsell_offer_product_variations table tbody td:first-child {
  width: 35%;
}
.mwb_upsell_offer_product_variations table tbody td:last-child {
  width: 65%;
}

/*since v3.0.0 - OFFER Variations - End*/

/*since v3.0.0 - OFFER Image - Start*/

.mwb_upsell_offer_product_image {
  display: inline-block;
}

/*since v3.0.0 - OFFER Image - End*/

/*since v3.0.0 - OFFER star review - Start*/

@font-face {
  font-family: 'star';
  src: url('star.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mwb-upsell-star-rating {
  display: inline-block;
}

.mwb-upsell-star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  font-size: 1em;
  width: 5.3em;
  font-family: star;
  font-weight: 400;
}

.mwb-upsell-star-rating::before {
  content: '\53\53\53\53\53';
  opacity: .25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.mwb-upsell-star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.mwb-upsell-star-rating span::before {
  content: '\53\53\53\53\53';
  top: 0;
  position: absolute;
  left: 0;
  color: #f1c40f;
}

/*since v3.0.0 - OFFER star review - End*/

/*since v3.0.0 - Default offer ( gutenberg ) - Start */

.mwb_upsell_default_offer_buy_now a {
  width: calc(100% - 40%);
  padding: 15px 10px;
}

.mwb_upsell_default_offer_buy_now,
.mwb_upsell_default_offer_no_thanks {
  margin: inherit !important;
}
.mwb_upsell_default_offer_no_thanks a {
  width: calc(100% - 55%);
}
.mwb_upsell_default_offer_image {
 text-align: center;
}

.mwb_upsell_default_offer_image .mwb_upsell_offer_product_image {
 width: 100%;
 max-width: 400px;
 margin: 0 auto;
}

.mwb_upsell_default_offer_buy_now a:hover{
  background-color: #80d600 !important;
}
.mwb_upsell_default_offer_no_thanks a:hover {
  background-color: #bf0000 !important;
}

.mwb_upsell_default_offer_variations .mwb_upsell_offer_product_variations {
  max-width: 700px;
  margin: 0 auto;
}

.mwb_upsell_default_offer_variations .mwb_upsell_offer_product_variations table tbody td:first-child {
  width: 40%;
}

.mwb_upsell_default_offer_description {
  text-align: center;
  margin: 30px 10%;
}

/*since v3.0.0 - Default offer ( gutenberg ) - End */

/*since v3.0.0 - Stripe cc icons - Start */

.woocommerce-checkout #payment ul.payment_methods li img.stripe-icon, #add_payment_method #payment ul.payment_methods li img.stripe-icon {
  float: right;
  max-width: 40px;
  padding-left: 3px;
  margin: 0;
}
/* since v3.0.0 - Stripe cc icons - End */

/**==================
 * Version 2.1.0 CSS
 * Updates CSS.
 ====================*/

 /* Quantity Shortcode */
 .mwb_upsell_quantity {
  text-align: center;
}

/* Upsell Action loader */
.mwb_upsell_loader {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(21, 21, 21, 0.7);
  z-index: 9999;
  display: none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.mwb_upsell_loader::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: white;
  border-top-color: transparent;
  border-width: 7px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
  margin: 0 auto;
}
p.mwb_upsell_loader_text {
  font-size: 22px;
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 999999;
  transform: translateY(-50%);
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  color: #ffffff;
}
/**=========================================
 *        Media query for here.  
 ==========================================*/
 @media only screen and (max-width: 550px){
  .mwb_wocuf_pro_product_price h4{
    font-size: 20px !important;
  }
  .mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_special_offer_banner{
    margin-bottom: 20px !important;
  }
  .mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_special_offer_banner h1 {
    font-size: 20px;
  }

  /* Loader CSS */
  .mwb_upsell_loader::after {
    width: 50px;
    height: 50px;
    border-width: 5px;
  }
  p.mwb_upsell_loader_text {
    font-size: 15px;
    max-width: 600px;
  }
}
@media only screen and (max-width: 1200px){
  .mwb_wocuf_pro_offer_container {
    padding: 50px 50px;
  }
}
@media only screen and (max-width: 768px){
  .mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_main_wrapper .mwb_wocuf_pro_product_image {
    float: none;
    max-width: 100%;
  }
  .mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_main_wrapper .mwb_wocuf_pro_offered_product {
    float: none;
    padding: 15px;
    width: 100%;
  }
  .mwb_wocuf_pro_variations .mwb_wocuf_pro_variations_select {
    height: 44px;
    width: 100%;
  }
  .mwb_wocuf_pro_offer_container {
    padding: 10px;
  }
  /****** Responsive CSS ******/
  .mwb_wocuf_pro_special_offers_for_you * {
    box-sizing: border-box;
  }
  .mwb_wocuf_pro_special_offers_for_you .mwb_wocuf_pro_main_wrapper .mwb_wocuf_pro_offered_product {
    padding: 15px 0;
  }
  .mwb_wocuf_pro_variations .mwb_wocuf_offer_variation_select {
    width: 100%;
  }
}