/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 .mwb_wocuf_skip,.mwb_wocuf_buy{
  margin:10px;
 }
.mwb_wocuf_offer_price_html{
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
  text-align: center;
  display: inline;
  margin:10px;
  color:#333333;
}
h1.mwb_wocuf_offer_head{
  font-weight: bold;
}
.mwb_wocuf_offer_buttons{
  padding-right: 10px;
}
.mwb-wocuf-template{
  width: 80%;
  margin: 0 auto;
}