/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 /* Button used to open the contact form - fixed at the bottom of the page */
 .wps-on-boarding-form-submit {
 	text-align: center;
 }
 .wps-on-boarding-wrapper-control {
 	overflow: hidden;
 }
 .wps-on-boarding-submit {
 	background-color: #7979f6;
 	color: white;
 	padding: 16px 20px;
 	border: none;
 	cursor: pointer;
 	opacity: 0.8;
 }
 /* Add styles to the form container */
 .wps-on-boarding-wrapper {
 	padding: 10px;
 	background-color: white;
 }
 /* Set a style for the submit/login button */
 .wps-on-boarding-wrapper .btn {
 	background-color: #4CAF50;
 	color: white;
 	padding: 16px 20px;
 	border: none;
 	cursor: pointer;
 	width: 100%;
 	margin-bottom:10px;
 	opacity: 0.8;
 }
 .wps-customer-data-form-single-field {
 	background: #1fe2e2;
 	margin: 10px;
 	border-radius: 5px;
 	padding: 6px;
 }
 .on-boarding-label {
 	color: red;
 	font-size: 12px;
 }
 .on-boarding-field-label {
 	color: green;
 	font-size: 12px;
 }
/*==========================================
=            WPS POPUP FORM CSS            =
==========================================*/
* {
	box-sizing: border-box;
}
.wps-keep-hidden {
	display: none;
}
.wps-onboarding-section {
	background-color: rgba(0,0,0,0.6);
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}
.wps-on-boarding-wrapper-background {
	content: "";
	left: 0;
	margin: 0 auto;
	max-width: 800px;
	padding: 25px;
	right: 0;
	transform: translateY(-100%);
	transition: 0.5s linear all;
	width: 100%;
	z-index: 999;
}
.wps-on-boarding-wrapper-background.onboard-popup-show {
	transform: translateY(5%);
	transition: 0.5s linear all;
}
.wps-on-boarding-wrapper {
	padding: 25px 15px;
}
.wps-on-boarding-heading {
	font-size: 30px;
	line-height: 1.5;
	margin: 0;
	text-align: center;
}
.wps-on-boarding-desc {
	color: #808080;
	font-size: 16px;
	margin: 0 auto;
	max-width: 450px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.wps-on-boarding-close-btn {
	border-radius: 50%;
	border: 2px solid #0073aa;
	content: "";
	display: inline-block;
	height: 30px;
	position: absolute;
	right: 35px;
	text-align: center;
	top: 35px;
	width: 30px;
}
.wps-on-boarding-close-btn a {
	display: block;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
}
.wps-customer-data-form-single-field {
	background: #ffffff;
	border-radius: 5px;
	margin: 10px;
	padding: 5px 5px;
}
.on-boarding-label {
	color: rgba(0,0,0,0.7);
	display: block;
	font-size: 15px;
	font-weight: 500;
	margin: 0 0 15px 0;
}
.on-boarding-field-label {
	color: rgba(0,0,0,0.6);
}
.on-boarding-email-field {
	padding: 5px !important;
	width: 100%;
	max-height: 44px !important;
	filter: drop-shadow( 5px 5px 5px #222 );
}
.on-boarding-text-field {
	filter: drop-shadow( 5px 5px 5px #222 );
	padding: 5px !important;
	width: 100%;
}
.wps-on-boarding-checkbox-wrapper {
	margin: 0 0 10px 0;
}
.on-boarding-checkbox-field {
	margin:0 15px 0 0;
}
.on-boarding-radio-field  {
	margin:0 10px 0 0 !important;
}
.on-boarding-radio-field:checked::before {
	filter: drop-shadow( 5px 5px 5px #222 );
}
.wps-on-boarding-radio-wrapper {
	display: inline-block;
	max-width:24%;
	width: 100%;
}
.on-boarding-select-field {
	min-height: 43px !important;
	width: 100%;
	max-width: inherit !important;
}
.wps-customer-data-form-single-field .select2-search-field {
	width: 100%;
}
.wps-customer-data-form-single-field .select2-search-choice {
	background: #ffffff !important;
	box-shadow: none !important;
}
.wps-customer-data-form-single-field .select2-search-choice {
	float: none !important;
	padding: 10px !important;
	text-align: left;
}
.wps-customer-data-form-single-field .select2-search-choice div{
	margin-left: 20px;
}
.wps-customer-data-form-single-field .select2-selection__choice {
	background: #ffffff !important;
	filter: drop-shadow(5px 5px 5px #222);
}
.wps-customer-data-form-single-field .select2-search-choice-close {
	left: 6px !important;
	top: 11px !important;
}
input#s2id_autogen1 {
	border:1px solid #7e8993;
	border-radius: 3px;
	padding: 6px;
	width: 100% !important;
	color: #32373c !important;
	font-family: inherit !important;
	font-size: 15px;
}
.wps-customer-data-form-single-field .select2-choices {
	border:none !important;
}
.on-boarding-label:last-child {
	color: #3389bf !important;
	font-weight: 600;
}
.wps-on-boarding-form-btn__wrapper {
	text-align: center;
}
.wps-on-boarding-verify {
	background: #016cb0;
	border: 2px solid transparent !important;
	color: #ffff;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
}
.wps-on-boarding-no_thanks, .wps-deactivation-no_thanks {
	background-color: #ffff;
	color: #016cb0 !important;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}
.wps-on-boarding-form-submit {
	display: inline-block;
	margin: 0 auto;
	max-width: 150px !important;
	width: 100%;
}
.wps-on-boarding-submit {
	border: none;
	color: white;
	cursor: pointer;
	opacity: 0.8;
	padding: 16px 20px;
	width: 100%;
}
.wps-on-boarding-submit{
	border-radius: 3px;
	filter: drop-shadow( 5px 5px 5px #222 );
}
.wps-on-boarding-form-verify {
	margin: 0 20px 0 110px;
	position: relative;
}
.wps-on-boarding-form-verify:after {
	-moz-transition: transform 0.3s ease-out;
	-ms-transition: transform 0.3s ease-out;
	-o-transition: transform 0.3s ease-out;
	-webkit-transition: transform 0.3s ease-out;
	color: #ffffff;
	content: "\279E"; /*arrow right unicode*/
	display: inline-block;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	right: 18px;
	top: 18px;
	transition: transform 0.3s ease-out;
}
.wps-on-boarding-form-verify:hover::after {
	-moz-transform: translateX(4px);
	-ms-transform: translateX(4px);
	-o-transform: translateX(4px);
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}
.wps-on-boarding-form-no_thanks {
	text-align: end;
}
.wps-on-boarding-wrapper-background.onboard-popup-show {
	display: block;
}
.wps-customer-data-form-single-field:nth-child(3) {
	box-sizing: border-box;
	display: inline-block;
	max-width: 47%;
	width: 100%;
}
.wps-customer-data-form-single-field:nth-child(4) {
	box-sizing: border-box;
	display: inline-block;
	max-width: 47%;
	width: 100%;
}
.wps-on-boarding-form-btn__wrapper {
	margin: 20px 0 0 0;
}
.wps-on-boarding-form-no_thanks {
	display: inline-block;
	float: right;
	margin: 20px 0 0 0px;
}
.wps-customer-data-form-single-field .select2-search-choice {
	padding: 10px !important;
}
.wps-customer-data-form-single-field .select2.select2-container.select2-container--default {
	width: 100% !important;
}
.wps-customer-data-form-single-field .select2-search__field {
	width: 100% !important;
}
.wps-customer-data-form-single-field .select2-search.select2-search--inline {
	width: 100% !important;
}

/* Update( v3.6.7 ) starts*/
.wps-info-img{
    margin-right: 6px;
	vertical-align: middle;
    max-width: 15px;
}
/* Update( v3.6.7 ) ends*/

/*=====  End of WPS POPUP FORM CSS  ======*/
/*=====================================
=            MEDIA QUERIES            =
=====================================*/
@media only screen and (max-width: 992px) {
	.wps-customer-data-form-single-field:first-child {
		width: 96%;
	}
	.wps-customer-data-form-single-field:nth-child(2) {
		width: 96%;
	}
	input#s2id_autogen1 {
		width: 100% !important;
	}
	input#s2id_autogen1 {
		width: 100% !important;
	}
	.on-boarding-email-field {
		width: 99% !important;
	}
	input#s2id_autogen1 {
		width: 100%;
	}
	.on-boarding-text-field {
		width: 98%;
	}
} 
@media only screen and (max-width: 796px) {
	.wps-customer-data-form-single-field:nth-child(3) {
		display: block;
		max-width: 97%;
		width: 100%;
	}
	.wps-customer-data-form-single-field:nth-child(4) {
		display:block;
		max-width: 97%;
		width: 100%;
	}
	.on-boarding-text-field {
		width: 99%;
	}
}
@media only screen and (max-width: 600px) {
	.wps-on-boarding-radio-wrapper {
		margin-bottom: 15px;
		max-width: 100%;
		width: 100%;
	}
	.on-boarding-email-field {
		width: 99% !important;
	}
}
@media only screen and (max-width: 453px) {
	.wps-on-boarding-form-verify  {
		display: block !important;
		text-align: center !important;
		margin: 0 20px 0 97px !important;
	}
	.wps-on-boarding-form-no_thanks {
		float:none !important;
	}
}
@media only screen and (max-width: 405px) {
	.wps-on-boarding-form-submit {
		max-width: 100% !important;
		padding: 15px 10px;
		width: 100%;
		margin: 0 20px 0 0 !important;
	}
	.wps-on-boarding-form-verify:after {
		right: 25px;
		top: 32px;
	}
	.on-boarding-email-field {
		width: 96% !important;
	}
	.wps-customer-data-form-single-field:nth-child(2) {
		width: 93%;
	}
	.wps-customer-data-form-single-field:nth-child(3) {
		display: block;
		max-width: 97%;
		width: 100%;
	}
	.wps-customer-data-form-single-field:nth-child(4) {
		display:block;
		max-width: 94%;
		width: 100%;
	}
	.wps-on-boarding-form-verify  {
		display: block !important;
		text-align: center !important;
		margin: 0 20px 0 0px !important;
	}
}
/*=====  End of MEDIA QUERIES  ======*/
.wps-offer-notice.notice.notice-warning {
    padding: 0;
    border: none;
    margin-left: 2px;
    margin-right: 20px;
  }
  .wps-offer-notice.notice.notice-warning a img {
    display: block;
    width: 100%;
    height: auto;
  }

